



<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>    RBAC（Role-Based Access Control，基于角色的访问控制），就是用户通过角色与权限进行关联。简单地说，一个用户拥有若干角色，每一个角色拥有若干权限。这样，就构造成“用户-角色-权限”的授权模型。在这种模型中，用户与角色之间，角色与权限之间，一般者是多对多的关系。

    角色的本质是一系列权限的集合，基于角色的权限系统所实现的就是权限与用户的分离，便于更加灵活和方便地对用户的权限进行管理。使用RBAC进行权限控制，能够避免对每一个用户进行权限的分配，从更高层次的抽象上对权限进行管理，另一方面角色系统能够更真实地映射现实世界，便于实现系统建模。

    RBAC的基本模式由用户、角色、权限三者的关系来构成。
</p>
</body>
</html>



